.app-footer {
  width: 100%;
  padding: 20px 0;
  background-color: var(--component-background);
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto; /* Push footer to the bottom */
  color: var(--text-color-secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer-nav {
  margin-bottom: 10px;
}

.footer-link {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 10px;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: var(--text-color);
  text-decoration: underline;
}

.footer-copyright {
  font-size: 0.8rem;
  color: var(--text-color-secondary);
}

@media screen and (max-width: 600px) {
  .app-footer {
    padding: 15px 0;
  }

  .footer-link {
    display: block;
    margin: 5px 0;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
